.tweet {
    margin-left: 15px;
    margin-top: 7px;
    width: 445px;
    height: 88px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #ffffff;
  }